<div class="card mt-5">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    {{#with title}}
                    <h6>{{userName}}</h6>
                    <p>{{caption}}</p>
                    <p>{{date}}</p>
                    {{/with}}
                </div>
                {{#with reviewBody}}
                <div>
                    <p>{{seller.title}} : <b>{{seller.value}}</b></p>
                    <p>{{rating.title}} : {{rating.value}}</p>
                    <p>{{text}}</p>
                    <p><b>{{advantages.title}}:</b></p>
                    <p>{{advantages.text}}</p>
                    <p><b>{{disadvantages.title}}:</b></p>
                    <p>{{disadvantages.text}}</p>
                    <div>
                        {{#each images}}
                        <img src="{{this}}">
                        {{/each}}
                    </div>
                    </div>
                {{/with}}
            </div>

        </div>
        
        {{#each reviewBody.coments}}
        <div class="card mt-3 ms-5">
            <div class="card-body">
                <div class="flex-column">
                    <h6>{{userName}}</h6>
                    <p>{{date}}</p>
                    <p>{{text}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>